@model Pricing.Models.CustomerPricingQueryInputModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Pricing Query</title>
</head>
<body>
    <div>

    </div>
</body>
</html>